node_modules
dist
coverage
public/images/art/*/
public/images/books/*/
public/images/boxes/*/
public/images/candles/*/
public/images/eco/*/
public/images/icons/*/
public/images/jewery/*/
public/images/keyholders/*/
public/images/kids/*/
public/images/other/*/
public/images/photoframes/*/
public/images/signs/*/
public/data.json
public/migrate-db.json
**/.DS_Store
.env
.env.local
